// IMPORTED FROM STORE THEME

$base: "{{base}}"; // body bg...
$baseInverted: "{{base--inverted}}"; // general

$actionPrimary: "{{action-primary}}"; //links, buttons borders, backgrounds
$actionPrimaryDarken: "{{action-primary--darken}}"; // usually 15% more

$actionSecondary: "{{action-secondary}}";


$emphasis: "{{emphasis}}";
$disabled: "{{disabled}}";

$success: "{{success}}"; // success button, cta, usually the "checkout", "login", "pay"
$successDarken: "{{success--darken}}";  // usually 15% more
$successFaded: "{{success--faded}}";

$danger: "{{danger}}";
$dangerFaded: "{{danger--faded}}"; 

$warning: "{{warning}}";
$warningFaded: "{{warning--faded}}";

$muted1: "{{muted-1}}"; //titles & borders
$muted2: "{{muted-2}}"; //borders
$muted3: "{{muted-3}}"; //borders
$muted4: "{{muted-4}}"; //borders
$muted5: "{{muted-5}}"; //borders
$muted6: "{{muted-1}}"; //borders & bg

// CHECKOUT VARS

$fontSize: "{{font-size}}";
$borderRadius:"{{border-radius}}";
$btnBorderRadius:"{{btn-border-radius}}";

$maxWrapper: "{{maxWrapper}}";
$inputHeight:"{{inputHeight}}";

$bordersContainers:"{{bordersContainers}}"; // 2px solid $muted5

//font

$fontFamily: "{{font-family}}";


// NOT included on admin -- kept for future (no change!)

$showCouponField:true;
$countingSteps:true;
$showCheckoutSteps:true;
$buttonShadow:false;
