// _buttons.scss


.btn {

	transition: all ease 0.2s;
	text-shadow: none;
	border-radius:$btn-border-radius;
	outline: none !important;
	text-align: center;
	font-size: $font-size;
	padding: 5px 12px;

	@if $buttonShadow {

	} @else {
		background: lighten($muted-5,60%);
		box-shadow: none !important;
		&:hover,
		&:focus {
			background:lighten($muted-5,30%);
		}
	}

	&-large {
		padding:11px 19px;
	}

	&-link {
		color:$action-primary;
		&:hover,
		&:focus {
			color:darken($action-primary, 15%);
		}
	}

	&-success {
		background: $success;
		border:1px solid $success;
		font-size:13px;

		&:hover,
		&:focus,
		&:active {
			background:darken($success,5%); 
			border:1px solid darken($success,5%); 
		}

		&[disabled] {
			background: $success;
		}
	}

	&-primary {
		background: $action-primary;
		border:1px solid $action-primary;
		color:$action-secondary;

		&:hover,
		&:focus,
		&:active {
			background:darken($action-primary,5%);
			border:1px solid darken($action-primary,5%); 
		}
	}  

	&-secondary {
		background: transparent;
		border:1px solid $action-primary;
		color:$action-primary;
	
		&:hover,
		&:focus,
		&:active {
			background:$action-secondary;
			border:1px solid darken($action-primary,15%);
			color:darken($action-primary,15%);
		}
	}

	&-outlined {
		background: transparent;
		border:1px solid $success;
		color:$success;

		&:hover,
		&:focus,
		&:active {
			background:transparent; 
			border:1px solid lighten($success,5%); 
		}
	}

	&#payment-data-submit {
		span {
			font-size: 14px;
			margin-left: 5px;
			font-weight: bold;
		}
	}
}