// _buttons.scss


.btn {
	font-family:$font-family;
	transition: all ease 0.2s;
	text-shadow: none;
	border-radius:$btn-border-radius;
	outline: none !important;
	text-align: center;
	font-size: $font-size;
	padding: 5px 12px;
	box-sizing: border-box;
	display: inline-block;

	@if $buttonShadow {

	} @else {
		background: none;
		box-shadow: none;
		&:hover,
		&:focus {
			background:none;
		}
	}

	&-large {
		padding:11px 19px;
	}

	&-link {
		color:$action-primary;
		&:hover,
		&:focus {
			color:$action-primary--darken;
		}
	}

	&-success {
		background: $success;
		border:1px solid $success;
		font-size:13px;

		&:hover,
		&:focus,
		&:active {
			background:$success--darken; 
			border:1px solid $success--darken; 
		}

		&[disabled] {
			background: $success;
		}
	}

	&-primary {
		background: $action-primary;
		border:1px solid $action-primary;
		color:$action-secondary;

		&:hover,
		&:focus,
		&:active {
			background:$action-primary--darken;
			border:1px solid $action-primary--darken; 
		}
	}  

	&-secondary {
		background: transparent;
		border:1px solid $action-primary;
		color:$action-primary;
	
		&:hover,
		&:focus,
		&:active {
			background:$action-secondary;
			border:1px solid $action-primary--darken;
			color:$action-primary--darken;
		}
	}

	&-outlined {
		background: transparent;
		border:1px solid $success;
		color:$success;

		&:hover,
		&:focus,
		&:active {
			background:transparent; 
			border:1px solid $success--darken; 
		}
	}

	&#payment-data-submit {
		span {
			font-size: 14px;
			margin-left: 5px;
			font-weight: bold;
		}
	}
}