// _global.scss



body {
  font-family:$font-family;
  min-width: initial !important;
  padding: 0;
  background: $base;
  padding-bottom:40px !important;
 
  min-height: 93vh;
  position: relative;
  font-size: $font-size;

  a {
    color:$action-primary;
    &:hover {
      color:darken($action-primary,15%);
    }
  }

  @media(max-width: 768px) { 
    padding-bottom:0px !important;
  }

  //short preloader to don't show a empty cart
  .cart-template.full-cart {
    > * {
      opacity: 0;
      transition-delay:1.2s;
      transition-property: opacity;
      -webkit-transition-duration:0.5s;
    }
  }
  &.v-custom-loaded {
    .cart-template.full-cart {
      > * {opacity: initial;}
    }
  }
  //end short preloader to don't show a empty cart
}

.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$border-radius;
}

.container-main {
}
 
.loading.loading-bg {
  background:$base; 
}

// containers

.container-cart.container,
.container.container-main.container-order-form {
  max-width:$maxWrapper;
  width:calc(100% - 40px);
  @media(max-width: 490px) {
    width:calc(100% - 20px);
  }
}

.checkout-container {overflow:initial !important;}


.row-fluid .full-cart.inactive > * {
  height:100px;
  overflow: hidden;
  
}

//titles

  .container-cart h1,
  h1#orderform-title {
  	font-size: 22px !important;
    font-weight: 400 !important;
    color: $muted-1 !important;
  }

  h1#orderform-title {display:none !important;}


// hide shipcalculate because a error 

.cart-more-options {display: none !important;}

// assemblies custom vtex

  .v-custom-assemblies {
    margin: 10px 0 3px 0;
    overflow: hidden;
    border-top: 1px solid $muted-4;
    padding-top: 7px;
    @media(max-width: 490px) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      padding: 0;
      margin: 0;
      
      &__item {
        strong {
          &:after {content:":";}
        }
        span, strong {line-height: 14px;}
      }
    } 
     
  }