
.payment-data .gift-card-section, .payment-data .payment-discounts-alert {
  margin: 0;
  width: 100% !important;
  box-sizing: border-box;
}

.input-append, .input-prepend {
  .btn, 
  .add-on {
    height: $inputHeight;
    line-height:$inputHeight;
    box-sizing: border-box;
    padding: 0;
    width:20px;
  }
  input {
    border-radius: 0 $borderRadius $borderRadius 0 !important;
    width:100% !important;
    max-width: 100px !important;
  }
}
  
.payment-discoints-table .number, .gift-card-provider-group .number, .payment-discoints-table .action, .gift-card-provider-group .action {
  text-align:right;
}


@media (max-width: 490px) {

  .orderform-template-holder .client-profile-data input[type="text"] {
    width:100% !important;
  }

}