// loadin shhimer


@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

%loading-shimmer {
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: darkgray;
	background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
		
}
// set svgs

	svg.pickup-marker-blue,
	svg.pickup-marker-blue path,
	svg.pkpmodal-pickup-point-marker-image,
	svg.pkpmodal-pickup-point-marker-image path,
	svg.vtex-omnishipping-1-x-svg,
	svg.vtex-omnishipping-1-x-svg path,
	svg.pkpmodal-pickup-point-best-marker-image path:not([fill="white"]) {
	  fill: $action-primary;
	}

// -- vertical checkout


.container.container-main.container-order-form {
  @media(max-width: 768px) {
  	width: calc(100% - 20px);
  }
}

.orderform-template-holder{
	

	@media(min-width: 768px) {

		
		width: 61% !important;
		padding-right:20px;
		max-width: calc(100% - 270px);
  }

	
	#client-profile-data {width: 100%;}
	#client-profile-data form.client-pre-email,
	#client-profile-data .step.client-profile-data,
	#shipping-data,
	#payment-data {
  	width:100% !important;
  	padding:0;
  	margin:0;
  	box-sizing: border-box;

  	background:#FFF;
		border-radius:$border-radius;
		
		margin-bottom:20px !important;
		z-index: initial;

		border:$bordersContainers;
		

  	@if $countingSteps {
			padding:30px;
			@media(max-width: 768px) {
				padding:20px;
			}
		} @else {
			padding:4px 15px 15px 10px;
		}

		&.client-pre-email {display:block !important;padding-bottom: $inputHeight + 30px;}

		.link-box-edit {
	    background: none;
	    box-shadow: none;
	    border: none;
	    top: 4px;
	    right: -5px;
	    color: $action-primary;
	    outline: none;

	    position: absolute;
	    right: 0;
	    top: 50%;
	    padding: 1px;
	    font-size: 14px;
	    transform: translateY(-50%);
	    opacity: 0.7;

	    transition: all ease 0.2s;


	    &:hover {
	    	opacity: 1;
	    }

	    i.icon-spinner {
		    font-size: 17px;
		    position: absolute;
		    right: 0;
		    display: none;
		    top: -7px;
			}

			&.active {
				i.icon-edit {display: none;}
				i.icon-spinner { display: block; }
			}
		}

		.accordion-toggle {
			padding:0;
    	@extend %steps-title;
    	> i {display: none;}
    	> span {
    		line-height: 20px;
    		display: block;
    		vertical-align: middle;
    		@if $countingSteps {
    			line-height: initial;
    		}
    	}
    }


    .accordion-toggle,
    .accordion-inner {
    	padding: 0;
    }


    input[type=text],
    input[type=tel],
    input[type=email],
    select  {
    	&:not(.pac-target-input) {
	    	@extend %input-style;
	    	width: 100%;
	    	max-width: 100%;
	    	outline: initial;
    	}
    }

    &.active {
			
	    @if $countingSteps {
	    	
	    }
    }

  }

	#payment-data {

		
		p.link.link-gift-card,
		.payment-group-item {
		  box-sizing: border-box;
		  margin: 0 6px 10px 0;
		  border-radius: $border-radius;
		  border:1px solid $muted-4;
		  opacity: 1;
		  text-decoration: none;
			color: $muted-1;
			transition: all ease 0.3s;

			padding: 11px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			background: lighten($muted-5,5%);
			float: left;
			width:100%;
		  
			&.active {
				background:#FFF;
				span {
					color:$emphasis;
					
				}
			}

			&.active,
			&:hover {
				box-shadow:0 0 6px $muted-4;
				border:1px solid $action-primary;
			}
		}

		
		
		p.link.link-gift-card,
		fieldset.payment-group {
		  width: 100%;
		  left: 0;
		  display:block;
		  background: none;
		  position: relative;
		  margin:0;
		}

		p.link.link-gift-card {
			margin-bottom: 10px;
			padding:0;
		  a{
		  	padding: 10px 10px;
				display: block;
				text-align: left;
		  }
		}

		.payment-group-list-btn {
		  width: 100%;
		}

		p.link.link-gift-card *,
		.payment-group-item * {
			font-size:12px !important;
			font-weight:bold;
		}

		.payment-group-item {
			position: relative;
			height: 40px;
			span.payment-group-item-text {
				padding: 0;
				line-height: 17px;
				background: none !important;
			}

			&:first-child:nth-last-child(n + 2),
			&:first-child:nth-last-child(n + 2) ~ .payment-group-item {
				width: calc(50% - 3px);
			}
			&:first-child:nth-last-child(n + 3),
			&:first-child:nth-last-child(n + 3) ~ .payment-group-item {
				width: calc(33.3% - 4px);
			}
			&:first-child:nth-last-child(n + 4),
			&:first-child:nth-last-child(n + 4) ~ .payment-group-item {
				width: calc(25% - 4.8px);
			}
			&:first-child:nth-last-child(n + 5),
			&:first-child:nth-last-child(n + 5) ~ .payment-group-item {
				width: 100%;
				margin-right: 0;
				height: auto;
				&:after,
				&:before {
					display: none;
				}
				&:hover {
					top:0;
				}
			}
			&:last-child {
				margin-right:0;
			}
			&:hover {
				position: relative;
				background: #FFF;
				top: -2px;
			}

			&.active {
				
				&:after,
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					transform:translateX(-50%);
					top:100%;
					width: 0;
					height: 0;
					border-style: solid;
				}

				&:after {
					border-color: #FFF transparent transparent transparent;
					border-width: 6px;
				}

				&:before {
					border-color: $action-primary transparent transparent transparent;
					border-width: 7px;
				}
			}
		}

		.gift-card-section.form-step.box-default {
			padding: 0;
			margin: 0;
			width: 100%;
			label {
			  font-weight:bold;
			  color:#000;
			  font-size:12px;
			}
		}

		p.payment-discounts-options,
		p.gift-card-provider-options {
		  display:flex;
			align-items: center;
			padding-bottom: 10px;
			input, select {margin:0 10px;}

			label {
				line-height: 12px;
    		margin: 0;
			}
		}

		.payment-discounts-list {
			margin-bottom: 20px;
			table {
				width: 100%;
				tbody,
				tr {
						display:flex;
						width: 100%;
				}
				td.code,
				td.number {
						margin-right:20px;
						flex-grow: 1;
				}
				#remove-gift-card {
					text-decoration:underline;
					color:$danger;
				}
			}
			
		}

		input#payment-discounts-code {
		  width:100% !important;
		}

		.gift-card-multiple-providers {
			
		}

		#btn-add-gift-card {
			@extend .btn-secondary;
			height: $inputHeight;
			border-radius: $border-radius;
		}

		.steps-view {
		  width: 100% !important;
		  padding: 0;
		  min-height: initial;
		}

		p.notification {
	    font-weight: bold;
	    font-weight: 400;
	    color:$muted-1;
	    &:not([style="display: none;"]) + .box-step {
		    padding:0;
		    border:none;
			}
		}

		&:last-child {
			@media (min-width: 769px) {
				margin-bottom:0px !important;
			}
		}

		//custom (from js)

		.v-custom-payment-item-wrap {
			box-sizing: border-box;
		  border-radius: $border-radius;
		  background:#FFF;
		  border:1px solid $muted-4;
			color: $muted-1;
			transition: all ease 0.3s;
			overflow: hidden;
			margin-bottom: 10px;

			&.active,
			&:hover {
				border-color:$action-primary;
				box-shadow:0 0 6px #ddd;
			}

			.payment-group-item {
				border:none ;
				box-shadow:none;
				margin:0;
				width: 100% !important;
				height:auto;
				top:0;

				span {
					width: 100%;
					text-align: left;
					&:before {
						content:"";
						width:20px;
						height:20px;
						display:inline-block;
						border:1px solid $muted-3;
						border-radius:100%;
						vertical-align: middle;
						margin: -3px 10px 0 0;
					}
				}

				&.active {
					background: $action-secondary;
					border-bottom:1px solid $action-primary;
					span {

						&:before {
							background: $action-primary;
							border-color:$action-primary;
							box-shadow:inset 0 0 0 3px  #FFF;
						}
					}
				}

				&:hover {
					span {
						&:before {
							border-color:$action-primary;
						}
					}
				}

				&:before,
				&:after {display: none;}
			}

			&.active {
				> div {
					padding:20px;
					overflow: hidden;
				}
			}

			.SecurityEnvironmentIcon {display: none;}
			
		}
	}

	.step {
  
		border:none;
		padding:0;
		background: none;
		margin-bottom: 0;

		@media(max-width:868px) {
      width:100%;
    }

	  .box-info {
			color:$muted-1;
		}
	    
    .form-step {
    	fieldset {
    		width: 100%;
				float:none;
				
    		p { 
	    		position:relative;
	    		@media(max-width: 490px) {
	    			float:none !important;
	    		}	

	    		&.client-last-name,
					&.client-first-name {
					    width: calc(50% - 5px);
					    position: relative;
					    @media(max-width: 490px) {
					    	width: 100%;
					    	input[type="text"] {width: 100% !important;}
					    }
					}
	    		span.help.error {
				    position:absolute;
				    font-size:11px;
				    margin-top: 0;
					}

	    	}

				&.box-client-info-pj {padding-top:15px;}
				
				&.box-payment-option {
					h3 {display:none;}
				}
    	}

    	
			#is-corporate-client {color:$action-primary;}

	  }

    .input.text {
    	label {margin:10px 0 5px 0;display:block;}
    }

    &.client-profile-data {
    	.client-notice.notice {margin: 0 0 10px 0;}
    	.box-client-info {
    		margin-bottom: 20px;
    	}

    }

    &.shipping-data {

			.vtex-omnishipping-1-x-addressSummaryActive .address-summary {
					background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24' height='24'><path fill='"+str-replace(""+$action-primary, '#', '%23')+"' d='M15.998,5.951L4,16.237V30c0,0.552,0.448,1,1,1h8v-8h6v8h8c0.552,0,1-0.448,1-1V16.238L15.998,5.951z M19,19 h-6v-5h6V19z'></path> <polygon fill='"+str-replace(""+$action-primary, '#', '%23')+"' points='15.998,0.683 9,6.682 9,3 5,3 5,10.111 0.59,13.892 1.892,15.41 15.998,3.317 30.108,15.41 31.41,13.892 '></polygon></svg>") no-repeat;
					background-position: 12px 9px;
					border:1px solid $muted-4;
			}

			.vtex-omnishipping-1-x-SummaryItemGroup {}

    	.vtex-omnishipping-1-x-content {align-items: center;}
    	.vtex-omnishipping-1-x-deliveryChannelsOption {
		    background:#FFF;
			}
			.vtex-omnishipping-1-x-addressFormPart1.vtex-omnishipping-1-x-geolocation input {
				@extend %input-style;
			}
			.vtex-omnishipping-1-x-pickupButton,
			.vtex-pickup-points-modal-3-x-pickupViewOptionActive, 
			.vtex-pickup-points-modal-3-x-pickupViewOptionActive:hover, 
			.vtex-pickup-points-modal-3-x-pickupViewOptionActive:active, 
			.vtex-pickup-points-modal-3-x-pickupViewOptionActive:focus,
			.vtex-omnishipping-1-x-deliveryChannelsTogglePickup,
			.vtex-omnishipping-1-x-deliveryChannelsOption.vtex-omnishipping-1-x-deliveryOptionActive {
		    background:$action-primary;
				border-color:$action-primary;
				border-radius: $border-radius;
			}

			.vtex-pickup-points-modal-3-x-pickupViewOptionInctive {
				color:$action-primary;
				border-color:$action-primary;
				border-radius: $border-radius;
			}
 
			.vtex-omnishipping-1-x-addressItemOption:hover, 
			.vtex-omnishipping-1-x-active {
				background-color: $action-secondary;
			}

			.shipping-method-toggle {
		    border-color:$action-primary;
			}


    	.vtex-omnishipping-1-x-alert {
    		border-color:$warning;
    		display: flex;
  			align-items:center;
    	}


    	.vtex-omnishipping-1-x-deliveryChannelsWrapper,
    	.vtex-omnishipping-1-x-deliveryChannelsToggle {border-radius: $border-radius;}
    	.vtex-omnishipping-1-x-deliveryChannelsWrapper {border:1px solid $muted-4;}
    	.vtex-omnishipping-1-x-summaryChange {
		    background:$action-secondary;
		    border-color:$muted-5;
		    color:$action-primary;
			}

			.vtex-omnishipping-1-x-option:hover, 
			.vtex-omnishipping-1-x-leanShippingOptionActive,
			.vtex-omnishipping-1-x-leanShippingOption {
				background:#FFF !important;
			}

			.vtex-pickup-points-modal-3-x-modalDetailsBackLnk svg path,
			.vtex-pickup-points-modal-3-x-modalDetailsBackLnk {
			    color: $muted-2;
			    fill:$muted-2;
			}

			.vtex-pickup-points-modal-3-x-primary {
			  outline:none;
			  background:$action-primary;
			  border-color:$action-primary;
			}

			.vtex-omnishipping-1-x-pickupPointChange {
				border-color:$action-primary;
			}

			.vtex-omnishipping-1-x-address p {clear:both;}

			input#ship-addressQuery {
				width: 100%;
			}

			.vtex-omnishipping-1-x-container.shp-pickup-receiver {
				display: block;
				svg.person-blue path {fill: $action-primary;}
				.vtex-omnishipping-1-x-btn {color: $action-primary;}
			}
    }

    .submit.btn.btn-success {
	    display:block;
			margin:0 auto;
			min-width:55%;
		}

  }

}

.orderform-template {
	display: flex !important;
	flex-wrap:wrap;
	padding-top: 0px;
	min-height: 400px !important;
	align-items:flex-start;

	&.inactive {display: none !important;}

	@media(max-width: 490px) {
  	width:100%;
  	padding-top:0px;
  }

	.cart-template.mini-cart {
		width: 39%;
  	min-width: 255px; 
  	margin: 0 0 0 auto;

  	position: sticky;
    bottom: 0px;
    top: 20px;

  	@media(max-width: 768px) {
  		width:100%;
  		position: relative;
  		top:0;
  	}

  	.cart-fixed {
  		height: auto !important;
  		position: relative !important;
	    max-width: 100%;
	    width: 100% !important;
			top:0;
			min-height: initial;

  		@media(min-width: 768px) {
  			&.affix {
  			}
  			&.affix-top {position: relative !important;}
  		}
  	}

		h2 {
			@extend %steps-title;
			text-align: left;
			border-top:none;
			background:none !important;
			margin-bottom: 15px;
		}


		.quantity {
			width: 10px;
	    height: 10px;
	    display: inline-block;
	    background:$action-secondary;
	    color:$action-primary;
		}

		.summary-template-holder {
			width:100%;
			background: none;
			border: none;
			padding: 0;

			.accordion-inner {margin-top: 0px;}
		}

		.item {
	    padding: 10px 0;
	    margin: 0;
	    border: none;
	    border-bottom: 1px solid $muted-5;
			&:last-child {border:none;}
			
			ul.service-list.unstyled {
				margin: 0;
				float: none;
				width: 100%;
				background: none;
				display: inline-block;
				clear: both;
			}
			.service-item,
			&.v-custom-indexed-item {
				background:$action-secondary;
				border:1px dashed $muted-4;
				border-radius:$border-radius;

				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				box-sizing: border-box;
				padding: 5px 10px;
				margin:10px 0 0 0;

				.description {margin-top:0;}
				> a,
				.quantity,
				.shipping-date,
				.item-subscription {display:none;}

				.price {margin:0;}

				&:last-child {margin-bottom:0;}
			}

			&.v-custom-indexed-item {
				.item-unavailable {display:none;}
			}

	    .fn { width: calc(82% - 20px); }

	    .description {
			  display: flex;
			  justify-content: space-between;
			}

			.price,
			span.shipping-date {
			  white-space: nowrap;
			}

			.url {
				border-radius: $border-radius;
    		overflow: hidden;
			}
			
		}

		.summary-totalizers {
	    margin-bottom: 0;
		}

		#go-to-cart-button {
	    position: absolute;
	    top:0px;
	    right: 7px;
	    color:$action-primary;
	    text-decoration: underline;
	    @media (max-width: 490px) {
	    	display: none;
	    }
		}



		.summary-totalizers {
			 tbody {
		    border-top:1px solid $muted-4;
		    border-bottom:1px solid $muted-4;
		    padding: 14px 0;
  			display: block;

  			tr {
			    &.CustomTax:not(.CustomTax--total) {
			      display:none !important;
			    }
			  }

		    td {
		      display: inline-block;
		      text-align: left !important;
		      width: auto;
		      color:#666;
		      font-size:13px;
		      padding: 0 0 3px 0 !important;
		      &.monetary {
		        text-align: right !important;
		        margin-left: auto;
		        float: right;
		      }
		    }

		    & + tbody {
			    border-top: none;
				}
				&.shipping-reset,
				&.shipping-calculate {display: none !important;}
		  }
		  tfoot {
		    tr td {
		      padding:14px 0 !important;
		      color:#000;
		      font-size:14px;
		      font-weight:bold;
		      text-align: left;
		      &.monetary {
		        text-align: right !important;
		        margin-left: auto;
		        float: right;
		        color:$action-primary;
		      }
		    }
		  }
		}

		.cart {
			margin-bottom: 0;
			max-height: calc(100vh - 285px);
			overflow:auto;
			
			&::-webkit-scrollbar {
				width: 6px
			}

			&::-webkit-scrollbar-track {
				background: transparent;
				border-radius: $border-radius
			}

			&::-webkit-scrollbar-thumb {
				background: $muted-4;
				border-radius: 30px
			}

			&:hover::-webkit-scrollbar-thumb {
				background: $muted-5;
			}

			.cart-items:not(.v-loaded) {
				max-height: 100px;
				overflow: hidden;
				li.item {
					overflow:hidden;
					position:relative;
					border: none !important;
					> * {opacity:0;}

					&:after {
						content:"";
						width:100%;
						height:100%;
						display:block;
						top:0px;
						left:0;
						position:absolute;
						@extend %loading-shimmer;
					}
				}
			}
		}
		

	}

	.payment-confirmation-wrap {
		border:none;
		padding:0;
		.payment-submit-wrap {
			margin:10px 0 0 0;

			@media(max-width: 768px) {
				z-index: 9999;
				position: fixed;
				bottom: 0;
				width: 100%;
    		left: 0;
				padding: 0;
				background:#FFF;
				margin: 0 !important;
				button {
					border-radius:0 !important;
				}
			}
		}
		@media(max-width: 768px) {
			border:none !important;
			.payment-submit-wrap, 
			button { margin:0 !important; }
		}

		#payment-data-submit {
			&:disabled span {
				display:none;
			}
		}
	}
	
	.summary-note {
		p.note-data {display: none !important;}
		> div {
			display: block !important;
		}
		.note-textarea {
			@extend %input-style;
			height:50px;
			line-height: 20px;
			max-width: 100%;
			width: 100%;
			font-family:$font-family;
			max-height: 100px;
		}
	}
	@if $showNoteField {
		.summary-note {display: block;}
	}
	@else {
		.summary-note {display: none !important;}
	}

	.custom-cart-template-wrap {
		position: relative;
		background: #FFF;
	  padding: 17px 20px;
	  text-align: left;
	  box-sizing: border-box;
	  border-radius:$border-radius;

	  border: $bordersContainers;
	  

	  .summary-cart-template-holder {
	    height: auto !important;
		}
	  .summary-template-holder {margin-top: 0;}
	}

}

// counting steps

	@if $countingSteps {

		.step.client-profile-data.active .box-step .form-step[style*="display: block"],
		.step.shipping-data.active .accordion-inner.shipping-container,
		#payment-data .box-step form.form-step {
	    padding-top: 20px !important;
		}


		.orderform-template-holder #shipping-data .shipping-summary-info,
		.orderform-template-holder .step .accordion-body p.notification,
		.client-pre-email + .client-profile-data .accordion-body:before {
			display: none;
		}
	}

// end counting steps

//iframe

.steps-view, .gift-card-section,
.App.iframe-credit-card-payment-group {
  background:#FFF;
}

#app-container {
	min-height: 100vh;
	background: #FFF;
		
	input[type=text],
	input[type=tel],
	input[type=email],
	select {
		@extend %input-style;
		width: 100%;
		max-width:calc(100% - 1px);
	}

	span.help.error {
		margin:0 !important;
		display:none;
	}

	.SecurityEnvironmentIcon {
		margin-bottom:20px;
		display: none;
	}

	.CardForm {
		> div {position: relative;clear: both;}
		.PaymentValue {display:none;}

		.SavedCardsList {
			width: calc(100% - 1px);
		}
		.SavedCard .link-delete {
			right: 8px;
			top: 50%;
			margin-top: -10px;
			border: 1px solid #ccc;
			background: #FFF;
			width: 20px;
			height: 20px;
			line-height: 17px;
		}
	}
	.FormFieldLabel {
		line-height: 30px;
	}

	.PaymentCardFlags {	
		padding-top:3px;
	  .card-flag-label input {
	    display:none;
		}
		.card-flag-label {width:auto;}
		span.card-flag {opacity: 0.7;}
		input:checked + span.card-flag {opacity: 1;}
	}

	input#creditCardpayment-card-0Code {
	  width: 100px !important;
	}

	.PaymentCardValue {
		.add-on {
			height: 30px;
  		line-height: 30px;
		}
	}

	.label-vertical-group {
		padding: 9px;
		&:hover {
			color:$action-primary;
		}
		&.active {
			color:$action-primary;
			background:$action-secondary;
		}
		

		&:not(.SavedCard) {
			.card-flag {
				position: absolute;
				left: 5px;
				top: 8px;
			}
		}


		.icon-ok-circle, .icon-circle-blank {
			top: 9px;
		}
		&.UseAnotherCard {
			background-color: $muted-5;
			padding:4px;
			#use-another-card {
				color:$muted-2;
			}
			&:hover {
				#use-another-card {
					text-decoration: underline;
					color:darken($muted-2,15%);
				}
			}
		}
	}

	


	label.FormFieldLabel {
	  display: block;
	  clear: both;
	  width: auto;
  	margin-right: 10px;
	}

}
