// _buttons.scss


.btn {
	&-success {
		background: $success;
		border:1px solid $success;
		text-align:center;

		transition: all ease 0.2s;
		text-shadow: none;
		border-radius:$border-radius;

		&:hover {
			background:darken($success,5%); 
			border:1px solid darken($success,5%); 
		}
	}

}