.main-footer {
	clear: both;
	text-align: center;
	padding: 2px 0;
	border-top:1px solid $muted-5;

	position: absolute;
	bottom: 0;
	width: 100%;

	.container {position: initial;}

	@media(max-width: 768px) {
		position:relative;
	}

	a.credits-vtex {
    width: 100px;
    display: block;
    margin: 0 auto;
	}	
}


// temp brass bell
footer.footer {
	@extend .main-footer;
	> div,
	.credits-avanti {display:none;}
	> div.footer-bottom {
		display:block;
		img {width:90px;}
	}
}
