// _global.scss


body {
  font-family:$font-family;
  min-width: initial !important;
  padding: 0;
  background: $base;
  padding-bottom:40px !important;

  min-height: 93vh;
  position: relative;
}


.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$border-radius;
}

.container-main {
}


// containers

.container-cart.container {
  width:calc(100% - 40px);
  max-width:980px;
}

//titles

.cart-more-options h2,
.container-cart h1,
h1#orderform-title {
	font-size: 22px !important;
  font-weight: 400 !important;
  color: $muted-1 !important;
}

h1#orderform-title {display:none !important;}
