// _global.scss


body {
  font-family:$font-family;
  min-width: initial !important;
  padding: 0;
  background: $base;
  padding-bottom:40px !important;
 
  min-height: 93vh;
  position: relative;
  font-size: $font-size;

  a {
    color:$action-primary;
    &:hover {
      color:darken($action-primary,15%);
    }
  }

  @media(max-width: 968px) { 
    padding-bottom:0px !important;
  }
}



.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$border-radius;
}

.container-main {
}
 
.loading.loading-bg {
  background:$base; 
}

// containers

.container-cart.container,
.container.container-main.container-order-form {
  max-width:980px;
  width:calc(100% - 40px);
  z-index: 2;
}

.checkout-container {overflow:initial !important;}


.row-fluid .full-cart.inactive > * {
  height:100px;
  overflow: hidden;
  
}

//titles

  .container-cart h1,
  h1#orderform-title {
  	font-size: 22px !important;
    font-weight: 400 !important;
    color: $muted-1 !important;
  }

  h1#orderform-title {display:none !important;}




// assemblies custom vtex
  .table.cart-items tbody tr {
    &.v-custom-assemblies-in {
      padding-bottom:70px;
    }
  }
  .v-custom-assemblies {
    position: absolute;
    bottom: 0;
    left: 125px;
    margin: 20px 0;
    width: calc(100% - 125px);

    @media(max-width: 490px) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;
      display:flex;
      box-shadow: -1px 0 0 0px $muted-4;
      &__item {
        box-shadow: 1px 0 0 0px $muted-4;
        padding: 0 10px;
        flex-grow: 1;
        strong {
          line-height: 14px;
        }
        span, strong {display: block;}
      }
    }
    
  }