// _global.scss


.main-header {
  padding:30px 0;
  text-align: center;
  
  &, > container { 
    display:flex;
    justify-content: center; 
    background: #FFF;
    width: 100%;
  } 
  > .container {position:initial;}


  .header-link {
    position:absolute;
    left:10px; 
    top: 50%;
    transform: translateY(-50%);
    a {color:$action-primary;}
    .back-cart-link {display:none;}
  } 

  .logo,
  .logo img {
    display: inline-block;
    margin: 0 auto;
    font-size:24px;
    border:none;
    line-height: 39px;

  }
}