
//input

%input-style {
	height: $inputHeight !important;
	line-height:$inputHeight !important;
	max-height:initial;
	display:inline-block;
	padding:0px 10px !important;
	border-radius:$border-radius;
  border:1px solid $muted-4;
	outline: initial;
	
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
