// IMPORTED FROM STORE THEME



$base: #f3f5f7; // body bg...
$base--inverted: #21364f; // general

$action-primary: #1a73e8; //links, buttons borders, backgrounds
$action-secondary: #f9f9f9;


$emphasis: #000000;
$disabled: #999999;

$success: #2fba2d; // success button, cta, usually the "checkout", "login", "pay"
$success--faded: #eafce3;

$danger: #ff4c4c;
$danger--faded: #ffe6e6;

$warning: #ffb100;
$warning--faded: #fff6e0;

$muted-1: #323232; //titles & borders
$muted-2: #676767; //borders
$muted-3: #999999; //borders
$muted-4: #cbcbcb; //borders
$muted-5: #dddddd; //borders





// CHECKOUT VARS

$font-size: 12px;
$border-radius:4px;
$btn-border-radius:$border-radius;

$inputHeight:40px;
$showCartQuantityPrice:false;
$countingSteps:true;
$showCheckoutSteps:true;

//font


$font-family: 'Roboto', sans-serif;