name: '[QE] Lint'

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup Node
        uses: actions/setup-node@master
        with:
          node-version: 16.x
        env:
          RUNNER_TEMP: /tmp

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: 'echo "::set-output name=dir::$(yarn cache dir)"'

      - name: Cache
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: '${{ steps.yarn-cache-dir-path.outputs.dir }}'
          key: "${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}"
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Bypass checkout-ui-custom build
        run: rm -rf checkout-ui-custom/package.json

      - name: Lint project
        uses: vtex/action-lint@master

      #- name: Lint project - bypass vtex action
      #  run: bash lint.sh
